.DS_Store
/MANIFEST
/.tox/
/*.egg-info/
/.venv/
/var/static/
/var/media/
/local/
/.vagrant/
/Vagrantfile.local
/docs/_build/
*.pyc
*.pyo
.installed.cfg
bin
.idea/
develop-eggs
build/
dist/
downloads
eggs
parts
src/*.egg-info
lib64
*.log
*.pot
static/CACHE/*
.vagrant/*
media/*
.anaconda
*.DS_Store
*.sass-cache
.idea
.coverage
coverage
coverage_html_report/
npm-debug.log*

# node
node_modules/
# bower
bower_components/

$virtualenv.tar.gz

*.sql
example.html
static
!tests/testapp/home/static/
tests/testapp/var/media/
db.sqlite3
