{% extends "base.html" %}
{% load wagtailcore_tags pretty_tags %}

{% block content %}
    <h1>Wagtaildraftail Test Site</h1>
    <div class="section">
        <h2 class="section__title">Draft.js</h2>
        <div data-editor-draftail class="section__output">
            {{ page.body_draftail|richtext }}
        </div>
        <pre class="section__code"><code>{{ page.body_draftail.source|pretty_json }}</code></pre>
    </div>
    <div class="section">
        <h2 class="section__title">Hallo</h2>
        <div data-editor-hallo class="section__output">
            {{ page.body_hallo|richtext }}
        </div>
        <pre class="section__code"><code>{{ page.body_hallo|pretty_html }}</code></pre>
    </div>
{% endblock %}
